.main-login {
  display: flex;
  flex-direction: column;
}

.main-login {
  margin: 0px 35px;
}

.main-login input[type="text"],
.main-login input[type="password"] {
  padding: 20px 0px;
  margin: 5px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  font-size: 20px;
  transition: border-bottom 0.3s ease-in-out;
}

.main-login input[type="text"]::placeholder,
.main-login input[type="password"]::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

.main-login input[type="text"]:focus,
.main-login input[type="password"]:focus {
  border-bottom: 1px solid #9bccd4;
}

.main-login input[type="password"] {
  margin-bottom: 30px;
}

.main-login input[type="submit"] {
  padding: 15px 0px;
  margin-bottom: 15px;
  font-size: 17px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #9bccd4;
  color: #e7e89a;
}

.main-login a {
  text-align: center;
}
